Repository uc-cdis/metadata-service, pull requests merged in 2022-10, with the labels that each got.

#73 Fix/remove deprecated metadata keys
  .secrets.baseline
  migrations/versions/6819874e85b9_remove_deprecated_metadata.py
  tests/test_migrations.py
Labels: test-apis-metadataIngestionTest

#74 Update pyproject.toml
  docs/openapi.yaml
  pyproject.toml
Labels: doc-only, test-apis-metadataIngestionTest

#65 PXP-8825 & BRH 206
  .github/workflows/docs.yaml
  .secrets.baseline
  README.md
  configs/brh_config.json
  docker-compose.yml
  docs/aggregate_metadata.md
  docs/openapi.yaml
  docs/sample_aggregate_mds_config.json
  pyproject.toml
  src/mds/agg_mds/adapters.py
  src/mds/agg_mds/commons.py
  src/mds/agg_mds/datastore/__init__.py
  src/mds/agg_mds/datastore/elasticsearch_dao.py
  src/mds/agg_mds/query.py
  src/mds/config.py
  src/mds/populate.py
  tests/test_agg_mds_adapters.py
  tests/test_agg_mds_commons.py
  tests/test_agg_mds_datastore.py
  tests/test_agg_mds_elasticsearch_dao.py
  tests/test_agg_mds_query.py
  tests/test_populate.py
Labels: test-apis-metadataIngestionTest

#78 Update pyproject.toml
  docs/openapi.yaml
  pyproject.toml
Labels: test-apis-metadataIngestionTest, skip-quay-build

#79 Fix/migration
  .secrets.baseline
  docs/openapi.yaml
  migrations/versions/6819874e85b9_remove_deprecated_metadata.py
  pyproject.toml
  tests/test_migrations.py
Labels: test-apis-metadataIngestionTest

#80 Update README.md
  README.md
Labels: test-apis-metadataIngestionTest

#81 restore doc reorg
  .secrets.baseline
  README.md
  docs/agg_mds.md
  docs/config_agg_mds.md
  docs/dev.md
Labels: test-apis-metadataIngestionTest
